<!DOCTYPE html>
<!-- Tog Bort en tag här-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AboutPage</title>
</head>
<body>
  <section>
    <article id="content">
      <h1>Grattis, Du förstår hur man kan använda partials och länka dokument!</h1>
    </article>
  </section>
  {{> footer}}
</body>
</html>
