<!DOCTYPE html>
  <!-- Tog Bort en tag här-->
  <html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{pTitle}}</title>

  </head>
  <body>
    <section>
      {{> header}}

    </section>
    <section>
      <article id="content">
        <h1>Grattis, du kan rendera sidor från servern</h1>
        <p>{{screamIt pTag}}</p>
      </article>
    </section>
    {{> footer}}
    <!-- > footer renderar saker från footer.hbs-->
  </body>
  </html>
